*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Foobar';
    src: url('../fonts/Foobar_Pro-Regular.woff') format('woff');
}

:root{
    --primary: rgb(27, 109, 185);
    --secondary: #b7b78a;
    --header-height: 85.5px;
    --border-radius: 10px;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Foobar';
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 10px;
}

h1{
    font-size: 2.7rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2.1rem;
}

/********************HEADER*******************/

.navbar{
    background-color: var(--primary);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;

}

.logo{
    height: 50px;

}

.container{
    width: 90%;
    margin: auto;
}

.navbar-links{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2em;
}

